<!--{if $_G['uid']}-->
    <span>欢迎您，<a href="home.php?mod=space&uid=$_G[uid]">{$_G[member][username]}</a> | <a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>，萌元素{lang credits}：$_G[member][credits]（<a href="#">领取</a>）</span>
<!--{else}-->
	<div id="append_parent"></div><div id="ajaxwaitid"></div>
    <span style='width:300px;'>

    <!--{if CURMODULE != 'logging'}-->
    	<script type="text/javascript" src="{$_G[setting][jspath]}logging.js?{VERHASH}"></script>
    	<form method="post" autocomplete="off" id="lsform" action="member.php?mod=logging&action=login&loginsubmit=yes&infloat=yes&lssubmit=yes" onsubmit="{if $_G['setting']['pwdsafety']}pwmd5('ls_password');{/if}return lsSubmit();">
    	<div class="fastlg cl">
    		<span id="return_ls" style="display:none"></span>
    		<div class="y pns">
    			<table cellspacing="0" cellpadding="0">
    				<tr>
						<td><input type="text" name="username" id="ls_username" style="width:80px" tabindex="901" />&nbsp;</td>
                        <td><input type="password" name="password" id="ls_password" style="width:80px" class="px vm" autocomplete="off" tabindex="902" />&nbsp;</td>
    					<td class="fastlg_l"><button type="submit" class="vm" tabindex="904" style="width: 75px;">{lang login}</button></td>
    					<td class="fastlg_l">&nbsp; <a href="member.php?mod=register">注册</a></td>
    				</tr>
    			</table>
    			<input type="hidden" name="quickforward" value="yes" />
    			<input type="hidden" name="handlekey" value="ls" />
    		</div>
    		<!--{hook/global_login_extra}-->
    	</div>
    	</form>

    	<!--{if $_G['setting']['pwdsafety']}-->
    		<script type="text/javascript" src="{$_G['setting']['jspath']}md5.js?{VERHASH}" reload="1"></script>
    	<!--{/if}-->

    <!--{/if}-->


    </span>
<!--{/if}-->