<div id="footer">
            <div id="friend">
                <span>友情链接</span><div class="yq">
                    <a href="#">
                        <p>
                            第一游戏网</p>
                    </a><a href="#">
                        <p>
                            第一游戏网</p>
                    </a>
                </div>
            </div>
            <div id="jw">
                <ul>
                    <li><a href="#">关于萌元素</a></li>
                    <li>|</li>
                    <li><a href="#">联系我们</a></li>
                    <li>|</li>
                    <li><a href="#">城聘英才</a></li><li>|</li>
                    <li><a href="#">营销中心</a></li><li>|</li>
                    <li><a href="#">服务条款</a></li><li>|</li>
                    <li><a href="#">网站地图</a></li><li>|</li>
                    <li><a href="#">意见反馈</a></li><li>|</li>
                    <li><a href="#">客服中心</a></li>
                </ul>
            </div>
            <div id="ba">
                <div>
                    文网文[2010]271号&nbsp;&nbsp;&nbsp;&nbsp;京公网备1100000000005号&nbsp;&nbsp;&nbsp;&nbsp;ICP证号：京041489号</div>
                <div>
                    电子邮箱：wlwh@vip.sina.com &nbsp;&nbsp;&nbsp;&nbsp;文明办网文明上网举报电话：027-87109668（周一至周五9:00-18:00）&nbsp;&nbsp;&nbsp;&nbsp;
                    举报邮箱：jubao@opi-corp.com</div>
            </div>
        </div>
    </div>
</body>
</html>