<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>
<link href="$_G['style']['styleimgdir']/week.css" rel="stylesheet" type="text/css" />


<div id="ct" class="wp cl ct2" style="margin-top:10px;">

<div  class="wk_c">
<div class="wk_pb">
<div class="wk_tpl"><!--[diy=week_01]--><div id="week_01" class="area"></div><!--[/diy]--></div>
<div class="wk_tpr"><!--[diy=week_02]--><div id="week_02" class="area"></div><!--[/diy]--></div>
</div>

<div class="wk_pb">
<h2 class="wk_nm">
热点<span>HOT SPOT</span>
</h2>
<div class="wk_pth"><!--[diy=week_03]--><div id="week_03" class="area"></div><!--[/diy]--></div>
</div>

<h2 class="wk_nm">
<em><a href="#">科技</a>/<a href="#">数码</a>/<a href="#">通信</a>/<a href="#">手机</a>/<a href="#">游戏</a>/<a href="#">电商</a></em>
推荐阅读<span>EXCITING RECMMENDED</span>
</h2>
<div class="wk_pb">
<div class="wk_tpr01"><!--[diy=week_04]--><div id="week_04" class="area"></div><!--[/diy]--></div>
<div class="wk_tp101"><!--[diy=week_05]--><div id="week_05" class="area"></div><!--[/diy]--></div>
</div>


<h2 class="wk_nm">
<em><a href="#">更多</a></em> 精彩图片<span>PHOTO GALLERY</span>
</h2>
<div class="wk_pb">
<div class="wk_ppic">
<div class="wk_pbig" style="left:316px;">
<!--[diy=week_06]--><div id="week_06" class="area"></div><!--[/diy]--></div>
<!--[diy=week_07]--><div id="week_07" class="area"></div><!--[/diy]--></div>
</div>



<h2 class="wk_nm">
社区达人<span>COMMUNITY PEOPLE</span>
</h2>
<div class="wk_pb" style="padding:18px 5px 5px; margin-bottom:0;">
<div class="wk_pavt"><!--[diy=week_08]--><div id="week_08" class="area"></div><!--[/diy]--></div>
</div>


<h2 class="wk_nm">
友情链接<span>LINKS</span>
</h2>
<div class="wk_pavt01"><!--[diy=week_09]--><div id="week_09" class="area"></div><!--[/diy]--></div>

</div>

</div>

<!--{subtemplate common/footer}-->
