<!--{subtemplate common/mys_header}-->
        <div id="main">
            <div id="znews">
                <div id="znews_d">
                    <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_07.gif" width="259" height="47" /><a href="#">
                        <p>
                            <a href="portal.php?mod=list&catid=1">更多De游戏资讯</a></p>
                    </a>
                </div>
                <div id="zn">
                    <div class="zn1">
                        <div class="zns">
                            <div class="zn1_left">
                                <!--{block/169}-->
                            </div>
                            <div class="zn1_right">
                                <!--{block/172}-->
                                <!--{block/173}-->
                            </div>
                        </div>
                        <div class="znx" style="float: right;">
                            <div class="xx">
                            </div>
                            <!--{block/174}-->
                        </div>
                    </div>
                    <div class="zn1" style="border-left: 0px;">
                        <div class="zns">
                            <div class="zn1_left">
                                <!--{block/175}-->
                            </div>
                            <div class="zn1_right">
                                <!--{block/176}-->
                                <!--{block/177}-->
                            </div>
                        </div>
                        <div class="znx">
                            <div class="xx">
                            </div>
                            <!--{block/178}-->
                        </div>
                    </div>
                </div>
            </div>
            <div id="gg">
                <img src="<!--{$_G['style']['styleimgdir']}-->/images/2.gif" width="996" height="99" /></div>
            <div id="game">
                <div id="game_d">
                    <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_39.jpg" width="259" height="46" /><a href="#">
                        <p>
                            更多De热门游戏</p>
                    </a>
                </div>
                <div id="game_m">
                    <div id="game_left">
                        <div class="game_left1">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_46.gif" width="52" height="197" />
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <div class="ltbImg">
                                        </div>
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <div class="ltbImg">
                                        </div>
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" />
                                    </a>
                                </div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                        </div>
                        <div class="game_left2">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_54.gif" width="52" height="197" />
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                        </div>
                        <div class="game_left3">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_56.gif" width="52" height="99" />
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="game_right">
                        <div id="game_rd">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_10.gif" width="245" height="42" /></div>
                        <div class="game_wz">
                            <div class="wzz">
                                <p>
                                    时间</p>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏名称</p>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态</p>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="jf">
                <div id="jf_d">
                    <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_59.gif" width="198" height="42" /><a href="#"><p>
                        怎么赚积分?&nbsp;&nbsp;&nbsp;更多积分商品</p>
                    </a>
                </div>
                <div id="tpxg">
                    <!--<div id="tp1">-->
                    <div id="tp_1" class="tpImg tp">
                        <a class="p1" title="thumbnail image" href="#">
                            <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/images/12_17.gif" width="167" height="288" class="small" />
                        </a>
                    </div>
                    <div id="tp_2" class="tpImg tp">
                        <a class="p2" title="thumbnail image" href="#">
                            <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/images/12_14.gif" width="185" height="144" class="small" />
                        </a>
                    </div>
                    <div id="tp_3" class="tpImg tp">
                        <a class="p3" title="thumbnail image" href="#">
                            <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/images/12_30.gif" width="185" height="144" class="small" />
                        </a>
                    </div>
                    <div id="tp_4" class="tpImg tp">
                        <a class="p4" title="thumbnail image" href="#">
                            <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/images/12_34.gif" width="346" height="94" class="small" />
                        </a>
                    </div>
                    <!--</div>
                    <div id="tp2">-->
                    <div id="tp_5" class="tpImg tp">
                        <a class="p5" title="thumbnail image" href="#">
                            <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/images/12_20.gif" width="275" height="387" class="small" />
                        </a>
                    </div>
                    <div id="tp_6" class="tpImg tp">
                        <a class="p6" title="thumbnail image" href="#">
                            <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/images/12_22.gif" width="359" height="108" class="small" />
                        </a>
                    </div>
                    <div id="tp_7" class="tpImg tp">
                        <a class="p7" title="thumbnail image" href="#">
                            <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/images/12_25.gif" width="178" height="176" class="small" />
                        </a>
                    </div>
                    <div id="tp_8" class="tpImg tp">
                        <a class="p8" title="thumbnail image" href="#">
                            <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/images/12_27.gif" width="177" height="176" class="small" />
                        </a>
                    </div>
                    <!-- </div>-->
                    <div id="tp_9" class="tpImg tp">
                        <a class="p9" title="thumbnail image" href="#">
                            <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/images/12_35.gif" width="360" height="94" class="small" />
                        </a>
                    </div>
                </div>
            </div>
            <div id="lb">
                <div id="banner">
                    <div id="banner_bg">
                    </div>
                    <!--标题背景-->
                    <div id="banner_info">
                    </div>
                    <!--标题-->
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                    </ul>
                    <div id="banner_list">
                        <a href="#" target="_blank">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/images/p1.jpg" title="" alt="" width="994" /></a> <a href="#" target="_blank">
                                <img src="<!--{$_G['style']['styleimgdir']}-->/images/p2.jpg" title="" alt="" width="994" /></a> <a href="#" target="_blank">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/images/p3.jpg" title="" alt="" width="994" /></a> <a href="#" target="_blank">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/images/p4.jpg" title="" alt="" width="994" /></a> <a href="#" target="_blank">
                                            <img src="<!--{$_G['style']['styleimgdir']}-->/images/p5.jpg" title="" alt="" width="994" /></a>
                        <a href="#" target="_blank">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/images/p6.jpg" title="" alt="" width="994" /></a> <a href="#" target="_blank">
                                <img src="<!--{$_G['style']['styleimgdir']}-->/images/p7.jpg" title="" alt="" width="994" /></a>
                    </div>
                </div>
            </div>
            <div id="sp">
                <div id="sp_d">
                    <img src="<!--{$_G['style']['styleimgdir']}-->/images/1_61.jpg" width="259" height="46" /><a href="#"><p>
                        视频综合</p>
                    </a>
                </div>
                <div id="sp1">
                    <div class="spz1">
                        <a href="#">
                            <img class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/images/13_01.jpg" /></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <img class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/images/13_01.jpg" /></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <img class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/images/13_01.jpg" /></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <img class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/images/13_01.jpg" /></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <img class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/images/13_01.jpg" /></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <img class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/images/13_01.jpg" /></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                </div>
                <div id="sp1">
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" border="0" showdisplay="0" showcontrols="1" controls="console"
                                playcount="0" moviewindowheight="240" moviewindowwidth="320" filename="aa.swf"
                                src="http://js.tudouui.com/bin/contentplayer/focus_player_32.swf?fsb=true&iid=170607996"
                                autostart="false"></embed></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" border="0" showdisplay="0" showcontrols="1" controls="console"
                                playcount="0" moviewindowheight="240" moviewindowwidth="320" filename="aa.swf"
                                src="http://js.tudouui.com/bin/contentplayer/focus_player_32.swf?fsb=true&iid=170607996"
                                autostart="false"></embed></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" border="0" showdisplay="0" showcontrols="1" controls="console"
                                playcount="0" moviewindowheight="240" moviewindowwidth="320" filename="aa.swf"
                                src="http://js.tudouui.com/bin/contentplayer/focus_player_32.swf?fsb=true&iid=170607996"
                                autostart="false"></embed></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" border="0" showdisplay="0" showcontrols="1" controls="console"
                                playcount="0" moviewindowheight="240" moviewindowwidth="320" filename="aa.swf"
                                src="http://js.tudouui.com/bin/contentplayer/focus_player_32.swf?fsb=true&iid=170607996"
                                autostart="false"></embed></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" border="0" showdisplay="0" showcontrols="1" controls="console"
                                playcount="0" moviewindowheight="240" moviewindowwidth="320" filename="aa.swf"
                                src="http://js.tudouui.com/bin/contentplayer/focus_player_32.swf?fsb=true&iid=170607996"
                                autostart="false"></embed></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" border="0" showdisplay="0" showcontrols="1" controls="console"
                                playcount="0" moviewindowheight="240" moviewindowwidth="320" filename="aa.swf"
                                src="http://js.tudouui.com/bin/contentplayer/focus_player_32.swf?fsb=true&iid=170607996"
                                autostart="false"></embed></a><a href="#"><span>张艺谋天价宣传片</span></a></div>
                </div>
                <div id="spj">
                </div>
                <div>
                </div>
            </div>
        </div>
<!--{subtemplate common/mys_footer}-->