<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>萌元素游戏网</title>
    <!--{csstemplate}-->
</head>
<body>
    <div id="content">
        <div id="header">
            <div class="hd1">
            </div>
            <div class="hd2">
                <div class="hz">
                    <p>
                        欢迎您，<a href="#">lengyue111</a> | <a href="#">退出</a>，萌元素积分：0.00（<a href="#">领取</a>）</p>
                    <span class="hzSpan">[&nbsp;<a href="#">萌元素首页</a>&nbsp;-&nbsp;<a href="#">萌元素手游论坛</a>&nbsp;-&nbsp;<a
                        href="#">积分商城</a>&nbsp;]</span></div>
            </div>
        </div>
        <div id="main">
            <div id="znews">
                <div id="znews_d">
                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_07.gif" width="259" height="47" /><a href="#">
                        <p>
                            <a href="#">更多De游戏资讯</a></p>
                    </a>
                </div>
                <div id="zn">
                    <div class="zn1">
                        <div class="zns">
                            <div class="zn1_left">
                                <!--{block/169}-->
                            </div>
                            <div class="zn1_right">
                                <!--{block/172}-->
                                <!--{block/173}-->
                            </div>
                        </div>
                        <div class="znx">
                            <div class="xx">
                            </div>
                            <div class="tt">
                                <div class="tz">
                                    <div class="t1">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_26.gif" width="70" height="70" /></div>
                                    <a href="#">
                                        <p>
                                            80后回忆录</p>
                                    </a>
                                </div>
                                <div class="tz">
                                    <div class="t1">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_26.gif" width="70" height="70" /></div>
                                    <a href="#">
                                        <p>
                                            80后回忆录</p>
                                    </a>
                                </div>
                                <div class="tz">
                                    <div class="t1">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_26.gif" width="70" height="70" /></div>
                                    <a href="#">
                                        <p>
                                            80后回忆录</p>
                                    </a>
                                </div>
                                <div class="tz">
                                    <div class="t1">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_26.gif" width="70" height="70" /></div>
                                    <a href="#">
                                        <p>
                                            80后回忆录</p>
                                    </a>
                                </div>
                                <div class="tz">
                                    <div class="t1">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_26.gif" width="70" height="70" /></div>
                                    <a href="#">
                                        <p>
                                            80后回忆录</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zn1" style="border-left: 0px;">
                        <div class="zns">
                            <div class="zn1_left">
                                <a href="#">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_01_02.jpg" width="186" height="260" /></a><a href="#"><p>
                                        盘点五大最佳游戏开局</p>
                                    </a>
                            </div>
                            <div class="zn1_right">
                                <h3>
                                    国外高玩闭眼单挑暗黑3炼狱全部Boss</h3>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                                <div class="znzz">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_17.gif" width="5" height="7" /><a href="#"><p>
                                        如梦如幻的艾泽拉斯 哪些不经意的美丽</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="znx">
                            <div class="xx">
                            </div>
                            <div class="tt">
                                <div class="tz">
                                    <div class="t1">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_26.gif" width="70" height="70" /></div>
                                    <a href="#">
                                        <p>
                                            80后回忆录</p>
                                    </a>
                                </div>
                                <div class="tz">
                                    <div class="t1">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_26.gif" width="70" height="70" /></div>
                                    <a href="#">
                                        <p>
                                            80后回忆录</p>
                                    </a>
                                </div>
                                <div class="tz">
                                    <div class="t1">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_26.gif" width="70" height="70" /></div>
                                    <a href="#">
                                        <p>
                                            80后回忆录</p>
                                    </a>
                                </div>
                                <div class="tz">
                                    <div class="t1">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_26.gif" width="70" height="70" /></div>
                                    <a href="#">
                                        <p>
                                            80后回忆录</p>
                                    </a>
                                </div>
                                <div class="tz">
                                    <div class="t1">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_26.gif" width="70" height="70" /></div>
                                    <a href="#">
                                        <p>
                                            80后回忆录</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="gg">
                <img src="<!--{$_G['style']['styleimgdir']}-->/2.gif" width="996" height="99" /></div>
            <div id="game">
                <div id="game_d">
                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_39.jpg" width="259" height="46" /><a href="#">
                        <p>
                            <a href="#">更多De热门游戏</a></p>
                    </a>
                </div>
                <div id="game_m">
                    <div id="game_left">
                        <div class="game_left1">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/1_46.gif" width="52" height="197" />
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                        </div>
                        <div class="game_left2">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/1_54.gif" width="52" height="197" />
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                        </div>
                        <div class="game_left3">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/1_56.gif" width="52" height="99" />
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                            <div class="ltt">
                                <div class="ltb">
                                    <a href="#">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/1_49.gif" width="52" height="52" /></a></div>
                                <div class="ltz">
                                    <a href="#"><span>川普的旅程</span></a><br />
                                    <p>
                                        好玩的IOS横版物理解谜游戏..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="game_right">
                        <div id="game_rd">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/1_10.gif" width="245" height="42" /></div>
                        <div class="game_wz">
                            <div class="wzz">
                                <p>
                                    时间</p>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏名称</p>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态</p>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                            <div class="wzz1">
                                <p>
                                    6-13</p>
                                <a href="#"><span>炼神</span></a><h6>
                                    双平台-公测</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="jf">
                <div id="jf_d">
                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_59.gif" width="198" height="42" /><a href="#"><p>
                        怎么赚积分?&nbsp;&nbsp;&nbsp;更多积分商品</p>
                    </a>
                </div>
                <div id="tpxg">
                    <div id="tp1">
                        <div id="tp_1">
                            <a class="p1" title="thumbnail image" href="#">
                                <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/12_17.gif" width="157" height="288" class="small" />
                                <img class="large" title="Beauty" height="330" src="<!--{$_G['style']['styleimgdir']}-->/12_17.gif" width="190"></a></div>
                        <div id="tp_2">
                            <a class="p2" title="thumbnail image" href="#">
                                <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/12_14.gif" width="185" height="140" class="small" />
                                <img class="large" title="Beauty" height="125%" src="<!--{$_G['style']['styleimgdir']}-->/12_14.gif" width="125%"></a></div>
                        <div id="tp_3">
                            <a class="p3" title="thumbnail image" href="#">
                                <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/12_30.gif" width="185" height="140" class="small" />
                                <img class="large" title="Beauty" height="125%" src="<!--{$_G['style']['styleimgdir']}-->/12_30.gif" width="125%"></a></div>
                        <div id="tp_4">
                            <a class="p4" title="thumbnail image" href="#">
                                <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/12_34.gif" width="346" height="94" class="small" />
                                <img class="large" title="Beauty" height="125%" src="<!--{$_G['style']['styleimgdir']}-->/12_34.gif" width="125%"></a></div>
                    </div>
                    <div id="tp2">
                        <div id="tp_5">
                            <a class="p5" title="thumbnail image" href="#">
                                <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/12_20.gif" width="275" height="387" class="small" />
                                <img class="large" title="Beauty" src="<!--{$_G['style']['styleimgdir']}-->/12_20.gif"></a></div>
                    </div>
                    <div id="tp3">
                        <div id="tp_6">
                            <a class="p6" title="thumbnail image" href="#">
                                <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/12_22.gif" width="359" height="108" class="small" />
                                <img class="large" title="Beauty" height="125%" src="<!--{$_G['style']['styleimgdir']}-->/12_22.gif" width="125%"></a></div>
                        <div id="tp_7">
                            <a class="p7" title="thumbnail image" href="#">
                                <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/12_25.gif" width="178" height="176" class="small" />
                                <img class="large" title="Beauty" height="125%" src="<!--{$_G['style']['styleimgdir']}-->/12_25.gif" width="125%"></a></div>
                        <div id="tp_8">
                            <a class="p8" title="thumbnail image" href="#">
                                <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/12_27.gif" width="177" height="176" class="small" />
                                <img class="large" title="Beauty" height="125%" src="<!--{$_G['style']['styleimgdir']}-->/12_27.gif" width="125%"></a></div>
                    </div>
                    <div id="tp_9">
                        <a class="p9" title="thumbnail image" href="#">
                            <img title="BeautyTn" src="<!--{$_G['style']['styleimgdir']}-->/12_35.gif" width="360" height="94" class="small" />
                            <img class="large" title="Beauty" height="125%" src="<!--{$_G['style']['styleimgdir']}-->/12_35.gif" width="125%"></a></div>
                </div>
            </div>
            <div id="lb">
                <div id="banner">
                    <div id="banner_bg">
                    </div>
                    <!--标题背景-->
                    <div id="banner_info">
                    </div>
                    <!--标题-->
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                    </ul>
                    <div id="banner_list">
                        <a href="#" target="_blank">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/p1.jpg" title="" alt="" width="994" /></a> <a href="#" target="_blank">
                                <img src="<!--{$_G['style']['styleimgdir']}-->/p2.jpg" title="" alt="" width="994" /></a> <a href="#" target="_blank">
                                    <img src="<!--{$_G['style']['styleimgdir']}-->/p3.jpg" title="" alt="" width="994" /></a> <a href="#" target="_blank">
                                        <img src="<!--{$_G['style']['styleimgdir']}-->/p4.jpg" title="" alt="" width="994" /></a> <a href="#" target="_blank">
                                            <img src="<!--{$_G['style']['styleimgdir']}-->/p5.jpg" title="" alt="" width="994" /></a>
                        <a href="#" target="_blank">
                            <img src="<!--{$_G['style']['styleimgdir']}-->/p6.jpg" title="" alt="" width="994" /></a> <a href="#" target="_blank">
                                <img src="<!--{$_G['style']['styleimgdir']}-->/p7.jpg" title="" alt="" width="994" /></a>
                    </div>
                </div>
            </div>
            <div id="sp">
                <div id="sp_d">
                    <img src="<!--{$_G['style']['styleimgdir']}-->/1_61.jpg" width="259" height="46" /><a href="#"><p>
                        视频综合</p>
                    </a>
                </div>
                <div id="sp1">
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                </div>
                <div id="sp1">
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                    <div class="spz1">
                        <a href="#">
                            <embed class="sp_1" src="<!--{$_G['style']['styleimgdir']}-->/13_01.jpg" width="120" height="88" align="left" wmode="transparent"></embed></a><a
                                href="#"><span>张艺谋天价宣传片</span></a></div>
                </div>
                <div id="spj">
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="friend">
                <span>友情链接</span><div class="yq">
                    <a href="#">
                        <p>
                            第一游戏网</p>
                    </a><a href="#">
                        <p>
                            第一游戏网</p>
                    </a>
                </div>
            </div>
            <div id="jw">
                <ul>
                    <li><a href="#">关于萌元素</a></li>
                    <li>|</li>
                    <li><a href="#">联系我们</a></li>
                    <li>|</li>
                    <li><a href="#">城聘英才</a></li><li>|</li>
                    <li><a href="#">营销中心</a></li><li>|</li>
                    <li><a href="#">服务条款</a></li><li>|</li>
                    <li><a href="#">网站地图</a></li><li>|</li>
                    <li><a href="#">意见反馈</a></li><li>|</li>
                    <li><a href="#">客服中心</a></li>
                </ul>
            </div>
            <div id="ba">
                <div>
                    文网文[2010]271号&nbsp;&nbsp;&nbsp;&nbsp;京公网备1100000000005号&nbsp;&nbsp;&nbsp;&nbsp;ICP证号：京041489号</div>
                <div>
                    电子邮箱：wlwh@vip.sina.com &nbsp;&nbsp;&nbsp;&nbsp;文明办网文明上网举报电话：027-87109668（周一至周五9:00-18:00）&nbsp;&nbsp;&nbsp;&nbsp;
                    举报邮箱：jubao@opi-corp.com</div>
            </div>
        </div>
    </div>

<!--{if $_GET['diy'] == 'yes'}-->
	<!--{if check_diy_perm($topic) && (empty($do) || $do != 'index')}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}common_diy.js?{VERHASH}"></script>
		<script type="text/javascript" src="{$_G[setting][jspath]}portal_diy{if !check_diy_perm($topic, 'layout')}_data{/if}.js?{VERHASH}"></script>
	<!--{/if}-->
<!--{/if}-->
<!--{eval output();}-->
</body>
</html>
